* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(50, 51, 131);
    color: aliceblue;

}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    gap: 50px;
}


.header-body {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;

}

img {
    width: 100px;
    height: auto;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header-body-text {
    font-size: 18px;
    color: #E5E7EB;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

}

.links {
    font-size: small;
}