* {
    margin: 0;
    padding: 0 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 35px;
    align-items: center;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 180px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-left: 10px;
}

.header-body-text {
    font-size: 18px;
    color: #E5E7EB;

}

.header-body {
    display: flex;
    padding: 100px;
    gap: 100px;

}

.header-body-left {
    max-width: 500px;
}

.header-body-right {
    max-height: 200px;
}

a {
    text-decoration: none;
    color: lightgrey
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;

}

img {
    width: 400px;
    height: auto;

}



.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

}

.links {
    font-size: small;
    flex-shrink: 0;
    margin-right: 70px;

}

button {
    margin-top: 10px;
    background-color: #3882F6;
    color: aliceblue;
    width: 100px;
    height: 30px;
    border-radius: 12px;
    border: none;

}

/* end of header section */
.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px;

    color: #1F2937;

}

.container {
    display: flex;
    text-align: center;

    gap: 40px;
    margin-left: 150px;

}

.card {
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    max-width: 180px;
    gap: 10px;

}

.text {
    color: rgb(162, 161, 161);
    text-align: center;
    font-size: small;

}

.h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.img2 {
    width: 120px;
    height: 120px;
    border: 5px solid #3882F6;
    border-radius: 8px;
}

/* end sec 2 */

.section3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 210px;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    /* max-width: 700px; */
    padding-left: 150px;
}

.author {
    font-weight: 800;
    text-align: right;
    display: flex;
    align-self: flex-end;
}